.dashboard {
    height: 100vh;
  }
  
  .dashboard__container {
    display:flex;
    text-align: center;
    
  }
  
  .dashboard__btn {
    position: absolute;
    top:.7%;
    right:30%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor:pointer;
}
  

.user_name {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 1.3rem;
  color: yellow;
  float:right;
}























































































































