













.nav {
    width: 100vw;
    display:flex;
    justify-content: center;
    gap:3.5rem;
    cursor:pointer;
    color:white;
    overflow:hidden;
    scrollbar-width: none;
    overflow-x:hidden;
} 

.logLink{
    color:white;
    text-decoration: none;
}

.txtfile {
    content: 'This is from firebase';
    width: 70%;
    height: 4rem;
    margin-top: 50px;
    margin-left: 130px;
    border:1px solid red;
    color:white;
    padding: 20px;
}








































